* {
    font-size: 100%;
    font-family: 'Roboto', sans-serif;
}

body {
    margin: 0;
    padding: 0;
    overflow: hidden;
  }

#main-parent-grid {
    display: grid;
    grid-template-columns: 380px 1fr;
    grid-template-rows: 1fr;
    grid-column-gap: 0px;
    grid-row-gap: 0px;
}
    
.main-parent-div { 
    height: 100vh;
 }

 #nav{
    padding-top: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
 }

 .nav-items{
    padding-top: 10px;
    max-width: 315px;
    width: 315px;
 }

.mobile-only{
    display: none;
}

 #nav-items-result-container{
    display: flex;
    flex-direction: column;
    padding-top: 10px;
    width: 100%;
    height: 100vh;
    overflow: scroll;
    overflow-x: hidden;
 }

 #nav-items-result-container-filter{
    display: none;
    flex-direction: column;
    padding-top: 10px;
    width: 100%;
    height: 100vh;
    overflow: scroll;
    overflow-x: hidden;
 }

 #search-btn {
  -webkit-border-radius: 4;
  -moz-border-radius: 4;
  border-radius: 4px;
  font-weight: bold;
  background-color: white;
  color: #204D62;
  font-size: 16px;
  padding: 10px 10px 10px 10px;
  border: solid #204D62 2px;
  text-decoration: none;
  }

  #search-btn {
    cursor: pointer;
}

#filter-btn{
    -webkit-border-radius: 4;
  -moz-border-radius: 4;
  border-radius: 4px;
  font-weight: bold;
  background-color: white;
  color: #204D62;
  font-size: 16px;
  padding: 10px 10px 10px 10px;
  border: solid #204D62 2px;
  text-decoration: none;
  }

#filter-btn {
    cursor: pointer;
}

  #search-text-input{
    font-size: 18px;
    height: 30px;
    max-width: 200px;
    margin-right: 10px;
  }

  #search-dropdown-input{
    font-size: 18px;
    height: 40px;
    min-width: 250px;
    max-width: 200px;
    margin-right: 10px;
  }

  .top-div{
    height: 30px;
    text-align: center;
    line-height: 30px;
    font-weight: bold;
    width: 100%;
    color: white;
    background-color: #204D62;
  }

  .top-div-filter{
    height: 30px;
    padding-left: 40px;
    line-height: 30px;
    font-weight: bold;
    width: 100%;
    color: white;
    background-color: #204D62;
  }

  .nav-items-result{
    display: flex;
    align-items: center;
  }

  .nav-items-result h3{
    margin: 10px 0 0 0;
  }

  .nav-items-result p{
    margin: 0;
  }

  .address{
    padding: 5px 0;
  }

  .nav-items-result-div1{
    flex-basis: 30%;
    text-align: center;
  }

  .nav-items-result-filter{
    list-style-type: none;
  }

  .nav-items-result-filter li{
    display: flex;
    align-items: center;
  }

  .location-time{
    font-weight: 600;
  }

.nav-line{
    width: 1.5px;
  }

  .nav-items-result-div3{
    flex-basis: 60%;
    margin: 0 15px;
  }

  .nav-items-result-div4{
    flex-basis: 10%;
  }

  .nav-items-result-div1-filter{
    flex-basis: 15%;
  }

  .nav-items-result-div3-filter{
    flex-basis: 60%;
  }

.location-icon{
    font-size: 30px;
    color: #204D62;
}

.filter-icon{
    font-size: 25px;
    color: #204D62;
}

.get-directions-btn {
    -webkit-border-radius: 4;
    -moz-border-radius: 4;
    border-radius: 4px;
    font-weight: bold;
    background-color: #204D62;
    color: white;
    font-size: 16px;
    padding: 10px 10px 10px 10px;
    border: solid #204D62 2px;
    display: block;
    min-width: 185px;
    margin-top: 15px;
}

.get-directions-btn:hover {
    cursor: pointer;
}

.close-filter-btn {
    -webkit-border-radius: 4;
    -moz-border-radius: 4;
    border-radius: 4px;
    font-weight: bold;
    background-color: #204D62;
    color: white;
    font-size: 16px;
    padding: 10px 10px 10px 10px;
    border: solid #204D62 2px;
    display: block;
    min-width: 100px;
    margin-right: 20px;
    align-self: end;
}

.close-filter-btn:hover {
    cursor: pointer;
}



  .fa-phone{
    display: inline;
    color: #204D62;
  }

  .phone-number{
    display: inline;
  }

  .fa-chevron-right{
    font-size: 30px;
    color: #204D62;
  }

 #map{
    background-image: url("img/map.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
 }

 @media only screen and (max-width: 576px) {
    .main-parent-div { 
        border-top: 10x solid #0f1b21;
     }

    #main-parent-grid{
        grid-template-columns: 1fr;
    }

    #map{
        display: none;
    }

    #nav-items-result-container-map{
        display: none;
        background-image: url("img/map.png");
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        height: 100vh;
        width: 100%;
     }

    .mobile-only{
        display: flex;
        width: 100%;
        border-top: 10px solid #0f1b21;
        border-bottom: 10px solid #0f1b21;
    }

    #list-view{
        width: 50%;
        background-color: #204D62;
	    color: inherit;
	    border: none;
        color: white;
        font-size: 20px;
        padding: 10px 20px 10px 20px;
         text-decoration: none;
    }

    #map-view{
        width: 50%;
        background: none;
        color: inherit;
        border: none;
        color: #000000;
        font-size: 20px;
        padding: 10px 20px 10px 20px;
        text-decoration: none;
    }
  }

@media only screen and (max-width: 375px) {

    .get-directions-btn{
        min-width: 171px;
    }
}